docs/001_Klassen Diagram.dia.autosave
data/csv/fachbereiche.csv
data/csv/raeume.csv
data/csv/standorte.csv
data/csv/seminare.csv
data/csv/personen.csv
data/csv/studenten_termine.csv
data/csv/termine.csv
